In [37]:
import pandas as pd
import numpy as np
import datetime

In [38]:
df = pd.read_csv('CPU_Util_.csv')

df.head()

            Time (GMT)  KPI Value
0  2020-09-16 11:38:00          3
1  2020-09-16 11:39:00          3
2  2020-09-16 11:40:00          3
3  2020-09-16 11:41:00          3
4  2020-09-16 11:42:00          3

In [39]:
df['TimeStamp'] = pd.to_datetime(df['Time (GMT)'])

In [40]:
df['Hr'] = [x. hour for x in df['TimeStamp']]

In [41]:
df

               Time (GMT)  KPI Value           TimeStamp  Hr
0     2020-09-16 11:38:00          3 2020-09-16 11:38:00  11
1     2020-09-16 11:39:00          3 2020-09-16 11:39:00  11
2     2020-09-16 11:40:00          3 2020-09-16 11:40:00  11
3     2020-09-16 11:41:00          3 2020-09-16 11:41:00  11
4     2020-09-16 11:42:00          3 2020-09-16 11:42:00  11
...                   ...        ...                 ...  ..
1338  2020-09-17 09:56:00          3 2020-09-17 09:56:00   9
1339  2020-09-17 09:57:00          3 2020-09-17 09:57:00   9
1340  2020-09-17 09:58:00          3 2020-09-17 09:58:00   9
1341  2020-09-17 09:59:00          3 2020-09-17 09:59:00   9
1342  2020-09-17 10:00:00          3 2020-09-17 10:00:00  10

[1343 rows x 4 columns]

In [45]:
df['KPIMean'] = df.groupby('Hr').mean()

In [ ]:
df

In [44]:
 df.groupby('Hr').min()

             Time (GMT)  KPI Value           TimeStamp   KPIMean
Hr
0   2020-09-17 00:00:00          3 2020-09-17 00:00:00       NaN
1   2020-09-17 01:00:00          3 2020-09-17 01:00:00       NaN
2   2020-09-17 02:00:00          3 2020-09-17 02:00:00       NaN
3   2020-09-17 03:00:00          3 2020-09-17 03:00:00       NaN
4   2020-09-17 04:00:00          3 2020-09-17 04:00:00       NaN
5   2020-09-17 05:00:00          3 2020-09-17 05:00:00       NaN
6   2020-09-17 06:00:00          3 2020-09-17 06:00:00       NaN
7   2020-09-17 07:00:00          3 2020-09-17 07:00:00       NaN
8   2020-09-17 08:00:00          3 2020-09-17 08:00:00       NaN
9   2020-09-17 09:00:00          3 2020-09-17 09:00:00       NaN
10  2020-09-17 10:00:00          3 2020-09-17 10:00:00       NaN
11  2020-09-16 11:38:00          3 2020-09-16 11:38:00  3.000000
12  2020-09-16 12:00:00          3 2020-09-16 12:00:00  3.016667
13  2020-09-16 13:00:00          3 2020-09-16 13:00:00       NaN
14  2020-09-16 14:00:00          3 2020-09-16 14:00:00       NaN
15  2020-09-16 15:00:00          3 2020-09-16 15:00:00       NaN
16  2020-09-16 16:00:00          3 2020-09-16 16:00:00       NaN
17  2020-09-16 17:00:00          2 2020-09-16 17:00:00       NaN
18  2020-09-16 18:00:00          3 2020-09-16 18:00:00       NaN
19  2020-09-16 19:00:00          3 2020-09-16 19:00:00       NaN
20  2020-09-16 20:00:00          3 2020-09-16 20:00:00       NaN
21  2020-09-16 21:00:00          3 2020-09-16 21:00:00       NaN
22  2020-09-16 22:00:00          3 2020-09-16 22:00:00       NaN
23  2020-09-16 23:00:00          3 2020-09-16 23:00:00       NaN

In [ ]:
for i in range(len(df['Hr'])):
    if dr['Hr']

In [33]:
df.groupby('Hr').max()

             Time (GMT)  KPI Value           TimeStamp
Hr
0   2020-09-17 00:59:00          4 2020-09-17 00:59:00
1   2020-09-17 01:59:00          5 2020-09-17 01:59:00
2   2020-09-17 02:59:00          6 2020-09-17 02:59:00
3   2020-09-17 03:59:00          5 2020-09-17 03:59:00
4   2020-09-17 04:59:00          5 2020-09-17 04:59:00
5   2020-09-17 05:59:00          5 2020-09-17 05:59:00
6   2020-09-17 06:59:00          5 2020-09-17 06:59:00
7   2020-09-17 07:59:00          5 2020-09-17 07:59:00
8   2020-09-17 08:59:00          5 2020-09-17 08:59:00
9   2020-09-17 09:59:00          5 2020-09-17 09:59:00
10  2020-09-17 10:00:00          3 2020-09-17 10:00:00
11  2020-09-16 11:59:00          3 2020-09-16 11:59:00
12  2020-09-16 12:59:00          4 2020-09-16 12:59:00
13  2020-09-16 13:59:00          4 2020-09-16 13:59:00
14  2020-09-16 14:59:00          4 2020-09-16 14:59:00
15  2020-09-16 15:59:00          4 2020-09-16 15:59:00
16  2020-09-16 16:59:00          4 2020-09-16 16:59:00
17  2020-09-16 17:59:00          4 2020-09-16 17:59:00
18  2020-09-16 18:59:00          4 2020-09-16 18:59:00
19  2020-09-16 19:59:00          4 2020-09-16 19:59:00
20  2020-09-16 20:59:00          4 2020-09-16 20:59:00
21  2020-09-16 21:59:00          4 2020-09-16 21:59:00
22  2020-09-16 22:59:00          4 2020-09-16 22:59:00
23  2020-09-16 23:59:00          4 2020-09-16 23:59:00